/* Estilo general para el header */
.header {
    position: relative;
    width: 100%;
    height: 200px; 
    background-image: url('./encabezado.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
  }
  
  /* Capa opaca para oscurecer la imagen de fondo */
  .header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(191, 126, 216, 0.5); /* Fondo oscuro con opacidad */
    z-index: 1;
  }
  
  /* Contenedor de texto */
  .header .text-container {
    position: relative;
    z-index: 2; /* Asegura que el texto esté encima de la capa opaca */
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  
  /* Estilo para el encabezado (h1) */
  .header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para hacer el texto más visible */
  }
  
  /* Estilo para el párrafo */
  .header p {
    font-size: 1.25rem;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para hacer el texto más visible */
  }
  